aws_region           = "eu-central-1"
project_name         = "zenml"
environment          = "dev"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]
app_port             = 8080
db_port              = 3306
health_check_path    = "/"
container_image      = "nginx:stable"
container_cpu        = 256
container_memory     = 512
desired_count        = 1

db_name              = "zenml"
db_username          = "zenml"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
db_engine_version    = "8.0"

zenml_auto_activate  = true
zenml_admin_username = "admin"
zenml_admin_password = "ChangeMe123!"